.container {
    text-align: center;
}

.title {
    margin-top: 25px;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title span {
    color: #26ffcb;
    padding-left: 15px;
}

.reset {
    width: 160px;
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 26px;
    color: #26ffcb;
    margin-top: 25px;
}

.boxes {
    display: flex;
    height: 150px;
    width: 150px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.board {
    /* border: 4px solid #fff; */
    height: 475px;
    width: 475px;
    display: flex;
    margin: auto;
}